/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 1 version
*/

@media (max-width:1600px) {
  .about__content {
    --offsets: 0;
    flex-direction: column;
  }
}

@media (max-width: 1366px) {
  .footer__text {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 40px;
    padding: 26px 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    width: 150px;
    height: 48px;
  }

  .header__nav {
    margin-left: 0;
    margin-right: 40px;
    max-width: 540px;
  }

  .main {
    margin-bottom: 78px;
  }

  .hero {
    margin-bottom: 38px;
    /* margin-bottom: 40px; */
  }

  .hero__canvas {
    padding: 160px 77px;
  }

  .hero__title {
    margin-bottom: 15px;
    /* margin-bottom: 16px; */
    max-width: 770px;
    font-size: 60px;
  }

  .hero__descr {
    margin-bottom: 59px;
    /* margin-bottom: 60px; */
    font-size: 20px;
  }

  .hero__btn {
    padding: 24.5px 34.5px;
    font-size: 24px;
  }

  .about {
    margin-bottom: 77px;
  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about__content {
    --offsets: 0;
    flex-direction: column;
  }

  .about__left {
    min-height: 639px;
  }

  .about__item {
    background-position: left 10.3% center;
  }

  .stages {
    margin-bottom: 80px;
  }

  .stages__content {
    --gap: 50px;
  }

  .stages__text {
    margin-bottom: 26px;
  }

  .faq__list {
    --offsets: 0;
    flex-direction: column;
  }

  .footer__container {
    padding: 50px 50px;
  }

  .footer__logo {
    width: 224px;
    height: 72px;
  }

  .footer__text {
    display: none;
  }

  .footer__menu {
    margin-right: 32px;
  }

  .apply {
    margin-right: 0;
    width: 58.5%;
  }

  .form__btn {
    padding: 19px 37.5px;
  }

}

@media (max-width: 992px) {
  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 40px;
    padding: 17px 0;
    min-height: 69px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 15px;
    width: 110px;
    height: 35px;
  }

  .header__nav {
    margin-left: 0;
    margin-right: 15px;
    max-width: 447px;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 15px;
  }

  .header__nav .nav__link {
    font-size: 16px;
  }

  .main {
    margin-bottom: 78px;
  }

  .hero {
    margin-bottom: 38px;
    /* margin-bottom: 40px; */
  }

  .hero__canvas {
    border-radius: 24px;
    min-height: 662px;
    background-size: 100% 100%;
    padding: 160px 40px;
  }

  .hero__title {
    margin-bottom: 15px;
    /* margin-bottom: 16px; */
    max-width: 588px;
    font-size: 50px;
  }

  .hero__descr {
    margin-bottom: 59px;
    /* margin-bottom: 60px; */
    font-size: 18px;
  }

  .hero__btn {
    padding: 25px 39px;
    font-size: 23px;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__descr {
    margin-top: 0;
    margin-bottom: 53px;
  }

  .about__content {
    --offsets: 0;
    flex-direction: column;
  }

  .about__btn {
    padding: 18px 36px;
  }

  .about__left {
    border-radius: 20px;
    min-height: 650px;
    background-size: 100% 100%;
  }

  .about__wrapper {
    padding: 34px 40px;
  }

  .about__excerpt {
    max-width: 366px;
  }

  .about__item {
    padding: 34px 46px 32px 25.2%;
    border-radius: 24px;
    background-position: left 7.2% top 50%;
    background-size: 17%;
  }

  .stages__content {
    --offsets: 0;
    --gap: 40px;
    flex-direction: column-reverse;
  }

  .stages__right {
    padding-top: 0;
    min-height: 284px;
  }

  .stages__right_img {
    -ms-grid-row-align: auto;
        align-self: auto;
    border-radius: 24px;
    height: auto;
  }

  .stages__text {
    margin-bottom: 26px;
  }

  .faq__list {
    --offsets: 0;
    flex-direction: column;
  }

  .faq__item {
    padding: 33.74px 65px 33.74px 40px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 50px 50px;
    padding-right: 177px;
  }

  .footer__logo {
    width: 224px;
    height: 72px;
  }

  .footer__text {
    display: none;
  }

  .footer__menu {
    margin-right: 20px;
  }

  .footer__nav {
    display: none;
  }

  .apply {
    margin-bottom: 50px;
    margin-right: 20px;
    width: 100%;
  }

  .form__btn {
    padding: 19px 37.5px;
  }
}

/* @media (max-width: 768px) {
  .header__container {
    flex-wrap: wrap;
  }

  .header__nav {
    order: 3;
    margin: 0 auto;
    margin-top: 20px;
  }

  .hero__canvas {
    padding: 60px 30px;
    min-height: 300px;
  }

  .about__left {
    border-radius: 20px 0;
    min-height: auto;
    background-size: contain;
    background-color: transparent;
  }

  .about__wrapper {
    flex-direction: column;
    padding: 0;
    padding-top: 350px;
    background: none;
  }

  .about__excerpt  {
    margin-bottom: 12px;
    max-width: 100%;
    font-weight: 400;
    color: var(--color-main);
  }

  .about__btn {
    align-self: flex-start;
    color: var(--color-default);
  }

  .footer__container {
    padding: 50px;
  }
} */

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .header__container {
    flex-wrap: wrap;
  }

  .header {
    position: relative;
    margin-bottom: 20px;
    padding: 17px 0 40px 0;
    min-height: 132px;
  }

  .header__nav {
    order: 3;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    overflow-x: auto;
  }

  .header__nav .nav__list {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 25px;
  }

  .main {
    margin-bottom: 59px;
  }

  .hero {
    margin-bottom: 60px;
  }

  .hero__canvas {
    padding: 59px 21px;
    border-radius: 16px;
    min-height: 308px;
  }

  .hero__content {
    align-items: center;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .hero__descr {
    margin-bottom: 34px;
    font-size: 12px;
  }

  .hero__btn {
    border-radius: 8px;
    padding: 12px 27px;
    font-size: 12px;
  }

  .about {
    margin-bottom: 60px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__left {
    min-height: auto;
    border-radius: 16px 0;
    background-size: 100% 50%;
    background-color: transparent;
  }

  .about__wrapper {
    flex-direction: column;
    padding: 0;
    padding-top: 208px;
    background: none;
  }

  .about__excerpt {
    margin-bottom: 12px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-main);
  }

  .about__btn {
    align-self: flex-start;
    padding: 10px 42px;
    border-width: 2px;
    border-radius: 8px;
    font-size: 12px;
    color: var(--color-default);
  }

  .about__item {
    padding: 0;
    padding-top: 61px;
    border: none;
    background-position: left top;
    /* background-size: 22%; */
    background-size: 64px 49px;
  }

  .about__item_img1 {
    background-image: url("../img/about-item1_mobile.svg");
  }

  .about__item_img2 {
    background-image: url("../img/about-item2_mobile.svg");
  }

  .about__caption {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .stages {
    margin-bottom: 60px;
  }

  .stages__title {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .stages__content {
    --gap: 16px;
  }

  .stages__caption {
    font-size: 18px;
    font-weight: 500;
  }

  .stages__text {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 28px;
  }

  .stages__right {
    min-height: 160px;
  }

  .stages__right_img {
    border-radius: 16px;
  }

  .stages__btn {
    padding: 12px 44px;
    border-width: 2px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-document {
    padding: 11px 31px;
    border-width: 1px;
  }

  .stages__btn:not(:last-child) {
    margin-right: 10px;
  }

  .faq__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .faq__list {
    --gap: 31px;
  }

  .faq__item {
    padding: 0;
    border: none;
  }

  .faq__caption {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .faq__text {
    font-size: 14px;
    line-height: 28px;
  }

  .footer__container {
    align-items: center;
    padding: 30px 15px;
  }

  .footer__menu {
    position: relative;
    align-items: center;
    margin-right: 0;
    padding-top: 17px;
    width: 100%;
  }

  .footer__menu::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(100%);
    height: 1px;
    background-color: #414141;
  }

  .footer__logo {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 131px;
    height: 42px;
  }

  .social__item:not(:last-child) {
    margin-right: 16px;
  }

  .social__link {
    width: 40px;
    height: 40px;
  }

  .apply {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .apply__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .form__fieldset {
    margin-bottom: 25px;
  }

  .form__input[placeholder] {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .form__textarea[placeholder] {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .form__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .form__btn {
    margin: 0;
    margin-bottom: 11px;
    padding: 12px 19px;
    border-radius: 8px;
    font-size: 12px;
  }
}
